{% extends "layout.html" %}
{% block title %}About{% endblock %}
{% block content %}
<h2>EsdaQol haqida</h2>
<p>
  Xotirani o'rgatish o'yini veb-saytimizga xush kelibsiz! Ushbu platforma qiziqarli va qiziqarli o'yinlar orqali xotira qobiliyatingizni yaxshilashga yordam berish uchun mo'ljallangan.
</p>
<p>
  Siz Google elektron pochtangiz orqali roʻyxatdan oʻtishingiz, elektron pochtangizga yuborilgan tasdiqlash kodi orqali hisobingizni tasdiqlashingiz va keyin ikkita qiziqarli xotira oʻyinini oʻynashni boshlashingiz mumkin:
</p>
<ul>
  <li><strong>Raqamni yodlash:</strong> 5 xonali raqamni yodlab oling va u yo'qolganidan keyin uni eslang.</li>
  <li><strong>Word Memory:</strong> Ko'rsatilgan ro'yxatdan iloji boricha ko'proq so'zlarni eslab qoling.</li>
</ul>
<p>
  Sizning ballaringiz profilingizda saqlanadi, shuning uchun vaqt o'tishi bilan muvaffaqiyatingizni kuzatishingiz mumkin. Biz kognitiv qobiliyatingizni oshirishning oddiy va samarali usulini taqdim etishni maqsad qilganmiz.
</p>
<p>
  Tashrifingiz uchun tashakkur va xotirangizni o'rgating!
</p>
{% endblock %}
